<!-- new quote -->
<div class="container-fluid">
  <div class="row">
      <form #quoteForm='ngForm'>
         
          <div class="form-group">

            <label for="newquote">Create a New Quote</label>
            <textarea class="form-control" id="newquote" rows="4" placeholder="Write your Quote here!" required [(ngModel)]="newQuote.name" name="newquote" #name="ngModel"></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
             <p>Quote is required</p> 
            </div>            
          </div>
         
          
          
          <div class="form-group">
            
            <label for="author">Author</label>
            <input type="text" required class="form-control" id="authorname" placeholder="Credit the Author!" >  
            
            
          </div>
          <button type="submit" class="btn btn-success btn-lg">Publish Quote</button>
      </form>

  </div>
</div>

